{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Database</h1>


<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>recipeId</th>
        <th>recipeName</th>
        </tr>
    </th>

    {% for recipe in query %}
    <tr>
    <td>
    {{recipe.recipe_id}}
    </td>
    <td>
    {{recipe.name}}
    </td>
    <td>
     {% for SingleIng in recipe.ingredients %}
    {{SingleIng.name}}
          {% endfor %}
    </td>

    </tr>
    {% endfor %}

</table>

    <table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>IngredientId</th>
        <th>IngredientName</th>
        </tr>
    </th>

    {% for ing in query2 %}
    <tr>
    <td>
    {{ing.ingredient_id}}
    </td>
    <td>
    {{ing.name}}
    </td>
    </tr>
    {% endfor %}

</table>


{% endblock %}

