{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Database</h1>


<table style="width: 250%;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>Id</th>
        <th>recipe Name</th>
        <th>Ingredients</th>
         <th>Categories</th>
             <th>Link</th>
               <th>image link</th>
        </tr>
    </th>

    {% for recipe in query %}
    <tr>
    <td>
    {{recipe.recipe_id}}
    </td>
    <td>
    {{recipe.name}}
    </td>
    <td>
     {% for SingleIng in recipe.ingredients %}
    {{SingleIng.name}},
          {% endfor %}
    </td>
        <td>
     {% for category in recipe.categories %}
    {{category.categoryName}},
          {% endfor %}
    </td>
        <td>
        {{recipe.link}}
    </td>
        <td>
        {{recipe.imageLink}}
    </td>

    </tr>
    {% endfor %}

</table>

    <table style="width: 90%;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>IngredientId</th>
        <th>IngredientName</th>
        </tr>
    </th>

    {% for ing in query2 %}
    <tr>
    <td>
    {{ing.ingredient_id}}
    </td>
    <td>
    {{ing.name}}
    </td>
    </tr>
    {% endfor %}

</table>

 <table style="width: 90%;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>category Id</th>
        <th>category Name</th>
        </tr>
    </th>

    {% for category in query3 %}
    <tr>
    <td>
    {{category.Category_id}}
    </td>
    <td>
    {{category.categoryName}}
    </td>
    </tr>
    {% endfor %}

</table>


{% endblock %}

